*{
    box-sizing: border-box;
}
body{
    margin-top: 69px;
    font-family: 'Roboto';
    background: #FAFAFA;
    margin-bottom: 100px;
}

.header{
    position: fixed;
    width: 100%;
    height: 69px;
    left: 0px;
    top: 0px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 37px;
    color: #FFFFFF;
    z-index: 20;
}
.header:hover{
    cursor: pointer;
}
ion-icon:hover{
    cursor: pointer;
}
/*TELA 1*/
.screen1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divCreate{
    margin-top: 146px;
    height: 181px;
    width: 84%;
    margin-right: auto;
    margin-left: auto;
    border: 1px dashed #D5D5D5; 
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 77px;
}
.textYour{
    text-align: center;
    width: 250px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #B9B9B9;
}
.create{
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    width: 136px;
    text-align: center;
    margin-top: 20px;
    padding: 5px;
    background: none;
}
.yourQuizzes{
    width: 84%;
    margin-top: 146px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}
.titleYour{
    margin-bottom: 13px;
    display: flex;
    align-items: center;
}
.titleYour span{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}
.titleYour ion-icon{
   color: #EC362D;
   width: 31px;
   height: 30px;
   margin-left: 12px;
}
.allYourQuizzes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
::-webkit-scrollbar {
    display: none;
}
.menuQuizzes{
    width: 84%;
    margin-left: auto;
    margin-right: auto;
}
.title{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 12px;
}
.imgCase{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.caseQuizz{
    width: 340px;
    height: 181px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    position:relative;
}
.backImg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    z-index: 9;
    display: flex;
    align-items: end;
    word-break: break-all;
    border-radius: 5px;
}
.backImg:hover{
    cursor: pointer;
}
.caseQuizz span{
    margin-bottom: 11px;
    margin-left: 17px;
    margin-right: 14px;
}
.allQuizzes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.imgCase:hover{
    cursor: pointer;
}

/*TELA 2*/

.screen2 {
    margin-top:69px;
}

.header-screen2 {
    width:100%;
    height:227px;

    background-position: right center;

    display:flex;
    justify-content: center;
    align-items: center;
}

.header-screen2 p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    color: #FFFFFF;
    text-align:center;
}

.container-screen2 {
    width:100%;
    height:auto;

    margin: 42px 0;
}

.container-question {
    width:759px;
    height:676px;
    margin:50px auto;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.question {
    width:100%;
    height:138px;
    /*background-color:#434CA0;*/

    display:flex;
    justify-content:center;
    align-items:center;
}

.question div p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
}

.container-answers {
    width:100%;
    height:508px;
    margin-top:24px;

    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:24px 18px;
}

.answer {
    width:48%;
    height:48%;
    cursor:pointer;

    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.answer img {
    width:100%;
    height:85%;
}

.answer p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.correct-answer div {
    opacity:0.3;
}

.correct-answer > .right-answer { /*Classes para colocar na função da resposta*/
    opacity:1;
}

.correct-answer > .right-answer p , .incorrect-answer > .right-answer p {
    color: #009C22;
}

.correct-answer p , .incorrect-answer > .clicked-answer p, .incorrect-answer >.wrong-answer p {
    color:#FF0B0B
}

.incorrect-answer div {
    opacity:0.3;
}

.incorrect-answer > .clicked-answer {
    opacity:1;
}

.quizz-end {
    width:759px;
    height:430px;
    margin:0 auto;
    padding:18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.header-quizz-end {
    width:100%;
    height:99px;
    background-color:#EC362D;

    display:flex;
    align-items: center;
    justify-content: center;
}

.header-quizz-end p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color:#ffffff
}

.body-end {
    width:100%;
    height:auto;
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-top:18px;
}

.body-end img{
    width:364px;
    height:273px;
}

.body-end div {
    width:328px;
    height:250px;
    margin-right:10px;
}

.body-end p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
}

.buttons-screen2 {
    margin:57px auto 85px auto;
    width:260px;
    height:112px;

    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center
}

.button-play-again {
    width:100%;
    height:52px;
    background-color:#EC362D;
    border-radius: 15px;
    cursor:pointer; /*?*/

    display:flex;
    justify-content:center;
    align-items:center;
}

.button-play-again p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color:#FFF5F4;
}

.button-back-home {
    width:219px;
    height:44px;
    cursor:pointer; /*?*/

    display:flex;
    justify-content: center;
    align-items: center;
}

.button-back-home p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color:#818181;
}

/*TELA 3 basico*/
.screen3{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.titleThird{
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #000000;
    margin-top: 71px;
}
.divFirstInputs{
    margin-top: 27px;
    margin-bottom: 85px;
    display: flex;
    flex-direction: column;
    width: 600px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    gap: 9px;
    padding: 16px;
}
input{
    width: 564px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    padding-left: 23px;
}
input::placeholder{
    font-style: italic;
    color: #BABABA;
}
.button3{
    width: 368.86px;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF5F4;
    border: none;
}
.button3:hover{
    cursor: pointer;
}
/*TELA 3 PERGUNTAS*/
.createDivs{
    margin-top: 36px;
    margin-bottom: 81px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 601px;

}
.screen3-1{
    height: 74px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 24px;
}
.createDivs span{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-left: 4%;
    color: #000000;
}
.screen3-1 ion-icon{
    width: 26px;
    height: 23px;
}
.screen3-2{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    padding-bottom: 27px;
}
.screen3-2 span{
    margin-top: 28px;
    margin-bottom: 14px;
}
.allBlocks{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.blockInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px
}

.caseQuizz3{
    width: 500px;
    height: 266px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 46px;
    margin-bottom: 45px;
    position: relative;
}
.caseQuizz3 span{
    margin-bottom: 11px;
    margin-left: 17px;
    margin-right: 14px;
}
.backImg3{
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    z-index: 9;
    display: flex;
    align-items: end;
    word-break: break-all;
}
.backImg3:hover{
    cursor: pointer;
}
.backHome{
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #818181;
    margin-top: 22px;
    background: none;
    border: none;
}
.backHome:hover{
    cursor: pointer;
}
.buttonEnd{
    width: 368.86px;
    height: 44px;
    background: #EC362D;
    border-radius: 15px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF5F4;
    border: none;
}
.buttonEnd:hover{
    cursor: pointer;
}
.loading-page {
    width:100%;
    height:70vh;
    background-color: #ffffff;

    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap:50px;

    z-index:0;
}

.loading-page img {
    width:200px;
    height:200px;
}

.loading-page p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 29px;
    color: #EC362D;
}

.options-quiz {
    position:absolute;
    top:5px;
    right:0;

    width:30px;
    height:65px;
    background-color:#EC362D;
    border-radius: 10px 0px 0px 11px;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-around;
    z-index: 11;
}

.hidden{
    display: none;
}
.add{
    background: none;
    border: none;
}

/*RESPONSIVIDADE*/
@media (max-width:1100px){
    .allQuizzes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }   
    .allYourQuizzes{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: visible;
    }
    .divCreate{
        margin-top: 107px;
        margin-bottom: 35px;
    }
    .yourQuizzes{
        margin-top: 107px;
        margin-bottom: 38px;
    }
    .titleYour{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    ion-icon{
        margin: none;
    }
    .divFirstInputs{
        width: 100%;
        align-items: center;
        margin-bottom: 29px;
    }
    input{
        width: 91%;
        padding-left: 10px;
    }
    .button3{
        width: 86%;
        font-size: 18px;
    }
    .createDivs{
        width: 100%;
        margin-bottom: 30px;
    }
    .createDivs span{
        margin-left: 5%;
    }
    .caseQuizz3{
        width: 91%;
        margin-bottom: 24px;
        margin-top: 29px;
    }
    .buttonEnd{
        width: 59%;
        font-size: 18px;
    }
    .backHome{
        font-size: 18px;
    }
    .titleThird{
        margin-top: 37px;
    }
    .header-screen2 p{
        font-size: 19px;
    }
    .container-question, .question, .quizz-end{
        width:100%;
    }
    .question div p{
        font-size:19px;
        text-align: center;
    }
    .container-answers {
        gap:12px;
    }
    .answer p{
        font-size:13px;
    }
    .header-quizz-end p{
        text-align: center;
    }
    .body-end {
        flex-direction: column;
        justify-content:flex-start;
        gap:10px;
    }
    .body-end img {
        height:50%;
    }
    .body-end div p {
        font-size:17px;
        text-align:left;
    }
    .buttons-screen2 {
        margin-top:120px;
    }
    .loading-page img {
        width:76px;
        height:76px;
    }
    .loading-page p{
        font-size: 25px;
    }

}